:root {
  --body-color: #444;
  --off-white: #f9f9f9;
  --light-gray: #ccc;
  --header-gray: #202020;
  --border-gray: #999;
  --link-color: #303030;
  --sky-blue: #6090d0;
}

.background-color-gray {
  background-color: var(--border-gray);
}

.background-color-off-white {
  background-color: var(--off-white);
}

.border-color-gray {
  border-color: var(--border-gray);
}

.border-color-light-gray {
  border-color: var(--light-gray);
}

.border-color-header-gray {
  border-color: var(--header-gray);
}

.link-color {
  color: var(--link-color);
}