.hide-scrollbar-on-mobile::-webkit-scrollbar {
  display: none;
}

@media (min-width: 992px) {
  .hide-scrollbar-on-mobile::-webkit-scrollbar {
    display: auto;
  }
}

.heading-text-shadow {
  text-shadow: 2px 3px 3px rgba(0 0 0 / 30%);
}

.image-label-background {
  background: radial-gradient(at top left, rgba(36 41 46 / 15%), rgba(36 41 46 / 85%));
}